.button {
  position: absolute;
  top: 50%;
  left: 42%;
  margin: auto;
}

.is-hidden {
  display: none;
}

.property-container {
  position: relative;
}

.error-container {
  border: 1px solid red;
  background-color: rgba(194, 24, 7, 0.2);
  padding: 20px;
  margin-top: 20px;
}

.loading-component {
  background-color: #9fcdff;
  border: 1px solid #062c33;
  border-radius: 10px;
  padding: 10px;
}

.header {
  text-align: center;
  font-weight: bold;
}
